@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{ 
   --bg-color: #470e0e;
   --snd-bf-color: #6b1414;
   --text-color: #fff;
   --main-color: #c89c7d; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "raleway", sans-serif;
}

html{
    font-size: 62,5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;    
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color); 
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active{
    color: var(--text-color);
}

#menu-icone{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img{
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
}


/* EFEITOS NA IMAGEM */

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }}


.home-content p{
   font-size: 1.6rem;
}

.midias-sociais a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 2rem;
    transition: .5s ease;
}

.midias-sociais a:hover {
    background: var(--main-color);
    color: var(--snd-bf-color);
}

.btn:hover{
    background: var(--snd-bf-color);
    color: var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1 rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}


/* SEÇÃO SOBRE MIM */

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bf-color);
}

.cabeçalho{
    text-align: center;
    font-size: 4.5rem;
}

.sobre-content h2{
    text-align: center;
    line-height: 1.2;
}

.sobre-content h3{
    font-size: 2.6rem;
}

.sobre-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3 rem; 
}

/* SEÇÃO EXPERIÊNCIAS */

.experiencias.h2{
    margin-bottom: 5rem;
}

.experiencias-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
   
}

.experiencias-container .experiencias-box{
    flex: 1 1 1;
    background: var(--snd-bf-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
  
}

.experiencias-container .experiencias-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.experiencias-box i{
    font-size: 7rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.experiencias-box h3{
    font-size: 2.6rem;
}

.experiencias-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}


/* SEÇÃO PROJETOS */

.sec-projetos{
    background: var(--snd-bf-color);
  
}

.sec-projetos h2{
    margin-bottom: 4rem;
}

.projetos-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.projetos-layer{
    width: 500px;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
    height: 600px;
    
}

.projetos-layer-paragrafo{
    height: 190px;
}

.projetos-container .projetos-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 3rem var(--bg-color);
    overflow: hidden;
    display: flex;
    border-color: var(--main-color);
    transform: scale(1.02);
    align-items: center;
 
    
}

.projetos-layer img{
    max-width: 100%;
    width: 100%;
    transition: .5s ease;
    opacity: 0.8;
    display: block;


}

.projetos-box:hover img{
    transform: scale(1.1);
}

.projetos-box:hover .projetos-layer{
    transform: translateY(0);
}

.projetos-layer h4{
    font-size: 2rem;
    height: 60px;
   
}

.projetos-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    text-align: center;
    padding: 1rem;

}

.projetos-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 3rem;
    background: var(--main-color);
    border-radius: 2rem;
    
}

.projetos-layer a:hover{
    background: var(--bg-color);
    color: var(--main-color);
}

/* SEÇÃO CONTATO */

.contato h2{
    margin-bottom: 3rem;
}

.contato form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contato form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contato form .input-box input,
.contato form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bf-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contato form .input-box input{
    width: 49%;
}

.contato form textarea{
    resize: none;
}

.contato form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bf-color);
}

.footer-text {
    font-size: 1.6rem;
    text-align: center;
}

.footer-iconTop{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--snd-bf-color);
    padding: 0.5rem;
}


/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/


/************ TABLET *********/


@media (max-width: 768px) {

/* MENU */

#menu-icone{
    display: block;
}

.navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 5.rem 1rem rgba(0, 0, 0, .2);
    display: none;
}

.navbar.active{
    display: block;
}

.navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
}

/* SEÇÃO HOME */

.home{
    flex-direction: column;
}

.home-content h3{
    font-size: 2.6rem;
}

.home-content h1{
    font-size: 5rem;
}

.home-content{
    order: 2;
}

.home-img img{
    width: 70vw;
    margin-top: 4rem;
}

/* SEÇÃO SOBRE MIM */

.sobre{
    flex-direction: column;
}

.sobre-img img{
    width: 90vw;
    margin-top: 4rem;
}

/* SEÇÃO EXPERIÊNCIAS */

.experiencias h2{
    margin-bottom: 3rem;
}

/* SEÇÃO PROJETOS */

.projetos h2{
    margin-bottom: 3rem;
}

.projetos-container{
    display: block;
    margin: 0 auto;
}

.projetos-layer{
    max-width: 100%;
    width: 100%;
}

.projetos-layer-paragrafo{
    height: 100px;

}
}



/********** MOBILE **********/


@media (max-width: 425px) {

/* MENU */

html{
    font-size: 50%;
} 

.contato form .input-box input{
    width: 100%;
}

.projetos-layer{
    height: 350px;

}

.projetos-layer-paragrafo{
    height: 80px;
}
.projetos-layer h4{
    height: 25px;
}
}


